/* styles.css */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-right: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav a:hover {
    color: #ccc;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

#home {
    background-image: linear-gradient(to bottom, #f0f0f0, #ccc);
}

#about {
    background-image: linear-gradient(to bottom, #ccc, #999);
}

#services {
    background-image: linear-gradient(to bottom, #999, #666);
}

#contact {
    background-image: linear-gradient(to bottom, #666, #333);
}

img {
    width: 50%;
    height: 50%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

i {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* input, textarea */